* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.mainContainer {
  background-color: #d5bebe;
  width: 100vw;
  height: 100vh;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}
.mainCard {
  width: 45%;
  height: 80%;
  padding: 1%;
  border-radius: 1.5%;
  background-color: #faf0e4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 3px 3px #817373;
}
.firstSec {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 82%;
}
.title {
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
}
.addWidth {
  width: 100%;
}
.addContainer {
  display: flex;
  margin: 4% 0.5%;
  justify-content: center;
}
.addTodoInput {
  background-color: #d5e1d3;
  box-shadow: 1px 2px 2px #dbd3d3;
  padding: 1.2% 2%;
  border: none;
  border-radius: 5px;
  width: 60%;
  margin: 0 4%;
  font-size: 18px;
  color: rgb(75, 62, 62);
}
.addTodoInput:focus {
  outline: none;
}
.btn {
  width: 16%;
  background-color: #0079ff;
  color: white;
  padding: 1.2% 1%;
  font-weight: bold;
  border-radius: 7px;
  border: none;
}
.btn:hover {
  background-color: #7e9ec1;
}
.updateBtn {
  width: 18%;
  background-color: #7c58dc;
  color: white;
  padding: 1.2% 1%;
  font-weight: bold;
  border-radius: 7px;
  border: none;
}
.updateBtn:hover {
  background-color: #4a3e6c;
}
.initialText {
  font-weight: 500;
  margin-top: 8%;
  color: rgb(87, 80, 80);
  text-align: center;
}
.singleTodoMainContainer {
  padding-left: 3%;
  margin-top: 4.5%;
  width: 79%;
  max-height: 70%;
  overflow-y: scroll;
}
.myList {
  height: 95%;
  width: 100%;
  list-style-type: none;
}
.singleTodoContainer {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  background-color: #f1dcc3;
  margin-bottom: 3%;
  box-shadow: 1px 2px 2px #bca6a6;
}
.msg {
  padding: 1.2% 3%;
  width: 70%;
  font-weight: bold;
  font-size: 18px;
}
.forLineThrough {
  text-decoration: line-through;
  padding: 2% 3%;
  width: 70%;
  font-weight: bold;
  font-size: 18px;
}
.icons {
  width: 30%;
  display: flex;
  padding: 2% 7%;
}
.icon1 {
  color: rgb(82, 171, 82);
  font-size: 18px;
  padding: 0 10%;
  cursor: pointer;
}
.icon2 {
  color: #bc5a19;
  font-size: 18px;
  padding: 0 10%;
  cursor: pointer;
}
.icon3 {
  color: #b02a2a;
  font-size: 18px;
  padding: 0 10%;
  cursor: pointer;
}
.homeIcon {
  text-align: center;
  margin-top: 5%;
}
.icon4 {
  color: green;
  font-size: 50px;
}
.card_btn {
  background-color: #c24343;
  color: white;
  padding: 2% 10%;
  font-weight: bold;
  border-radius: 7px;
  border: none;
}
.card_btn:hover {
  background-color: #d31e1e;
}
@media (max-width: 992px) {
  .mainCard {
    width: 90%;
    height: 80%;
    padding: 1%;
    border-radius: 1.5%;
    background-color: #faf0e4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 3px 3px #817373;
  }
}
@media (max-width: 668px) {
  .singleTodoMainContainer {
    padding-left: 1%;
    margin-top: 4.5%;
    width: 90%;
    max-height: 70%;
    overflow-y: scroll;
  }
}
@media (max-width: 430px) {
  .msg {
    padding: 1.2% 3%;
    width: 50%;
    font-weight: bold;
    font-size: 18px;
  }
  .forLineThrough {
    text-decoration: line-through;
    padding: 2% 3%;
    width: 50%;
    font-weight: bold;
    font-size: 18px;
  }
  .icons {
    width: 40%;
    display: flex;
    padding: 2% 7%;
  }
}